{% extends 'base.html' %}
{% block content %}
{% if validlink %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-container">
        <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}:</label> {{form.new_password1}}
        {% if form.new_password1.errors %} {{form.new_password1.errors}} {% endif %}
    </div>
    <div class="form-container">
        <label for="{{form.new_password2.id_for_label}}">{{form.new_password2.label}}:</label> {{form.new_password2}}
        {% if form.new_password2.errors %} {{form.new_password2.errors}} {% endif %}
    </div>
    <button class="form-button" type="submit">Изменить мой пароль</button>
</form>
{% else %}
<ul class="messages-error">
    <li>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс
        пароля
    </li>
</ul>
<div class="container-link">
    <a class="link" href="{% url 'authorization' %}">Авторизация</a> |
    <a class="link" href="{% url 'password_reset' %}">Забыли пароль?</a>
</div>
{% endif %}
{% endblock %}