{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-container">
        <label for="{{form.email.id_for_label}}">{{form.email.label}}:</label> {{form.email}}
        {% if form.email.errors %} {{form.email.errors}} {% endif %}
    </div>
    <div class="form-container">
        <label for="{{form.captcha.id_for_label}}">{{form.captcha.label}}:</label> {{form.captcha}}
        {% if form.captcha.errors %} {{form.captcha.errors}} {% endif %}
    </div>
    <button class="form-button" type="submit">Восстановить мой пароль</button>
</form>
<div class="container-link">
    <a class="link" href="{% url 'authorization' %}">Авторизация</a>
</div>
{% endblock %}